button.gwt-StackPanelItem {
    display: none;
}

.ggbtoolbarpanel.smart-nb-draggable.toolbarPanelNorth.toolbarPanel {
    background-color: rgba(255, 200, 0, 0.337);
}




/* div#ggb-applet {
    width: 1200px !important;
    background-color: green;
}
div#ggb-applet-holder {
    width: 1200px !important;
}

.applet_scaler.ggbTransform {
    width: 1200px;
    background-color: red;
    padding: 5px;
}

div#ggbApplet {
    width: 1200px !important;
    background: #000;
}
.GeoGebraFrame.jsloaded.landscape.appletStyle.applet-focused  {
    width: 1200px !important;
    background: rgb(49, 190, 27);
}
.GeoGebraFrame.jsloaded.landscape.appletStyle.applet-unfocused {
    width: 1200px !important;
    background: rgb(76, 160, 216);
}

.applet_scaler {
    background: rgb(248, 10, 189);
    width: 100%;
} */
